.loginpage {
    text-align: center;
    height: 577px;
    // background-color:darkgray;
    background-image: linear-gradient(darkblue,rgb(119, 109, 109));
    color:whitesmoke;
}

.form-group {
    margin:20px;
}

.img-body{
    height: 200px;
    width: 300px;
    margin: 50px;
}

.warningClass{
    margin: 10px;
    margin-left: 130px;
    color: red;
}
