<div class="loginpage">
    <img class="img-body" src="../../assets/Images/logo.jpg" alt="HomePage">
    <h2>Login here</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Employee ID :</label> &nbsp;
            <input type="text" formControlName="employeeid" class="form-control" />
            <div *ngIf="warning" class="warningClass">{{warningMsg}}</div>
        </div>
        <div class="form-group">
        <button mat-button style= 
            "background-color:blue; color:white"> 
            Login 
        </button>  &nbsp;
        <button routerLink="/register" mat-button style= 
            "background-color:blue; color:white"> 
            Register 
        </button> 
        </div>
    </form>
</div>
